

.wrapper {
  min-height: 100px;
  background-color: green;
  overflow: hidden;
}

.box-1 {
  background-color: aqua;
  width: 1000px;
  height: 200px;
  margin-bottom: 30px;
}

.box-2 {
  background-color: bisque;
  width: 40%;
  height: 200px;
  margin-bottom: 30px;
}